body{
    color: red;

}
#kk{
    text-decoration: overline;
    color: yellow;
    height: 100px;
    width: 100px;

}
.conn{
    height: 150px;
    width: 560px;
    font-family: 华文行楷;
    font-size: 80px;
    color: blueviolet;

}

.kuang{
    box-shadow: yellow;
    position: relative;
    top: 80px;
    left: 100px;
    border: aqua 1px solid;
}
.zhang{
	color: yellow;
	width: 100px;
	height: 100px;
}
.wang{
	color: red;
}
